<div>
    <form action="/courses" method="post">
        <h1>add new course</h1>
        
        <!-- course name-->
         <div>
            <label>NAME</label>
            <input type="text-" class="" name="name">
        </div>
        <!--course code-->
         <div>
            <label>code</label>
            <input type="text-" class="" name="code">
        </div>
        <!--department -->
         <div>
            <label>dep</label>
            <select name="department">
                {{#each departments}}
                <option value="{{_id}} ">{{department_name}} </option>
                {{/each}}
            </select>
        </div>

        <div>
            <label>requre_course</label>
            <select name="requre_course">
            <option value="">"no required pre courses" </option>

                {{#each courses}}
                <option value="{{course_code}} ">{{course_name}} </option>
                {{/each}}
            </select>
        </div>


        <button>add</button>

    </form>
</div>

<h1>OUR COURSES</h1>
<div>
    {{#each courses}}
    <!-- <a href="/courses/{{_id}}">{{course_name}}</a>  -->
    <p>{{course_name}} - {{course_code}} -{{requre_course}} </p>
    <br>
    {{/each}}
</div>